
.discover-me {
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid #7b7554;
    border-radius: 0.25rem;
    width: 11rem;
    padding: 1rem 0;
    color: #7b7554;
    font-weight: 600;
    transition: 0.7s ease;
  }
  
  .discover-me:hover {
    background-color: #7b75543a;
    /* border-color: #c9c0bf; */
    /* color: black; */
  }
  